/** General styles **************/

h1,
h2 {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

li {
	list-style: none;
}

body,
h1,
h2,
ul,
p {
	padding: 0;
	margin: 0;
}

header,
footer,
#main-container {
	text-align: center;
}

#main-container {
	margin-top: 5%;
	min-height: 700px;
}


/** Header/Footer **************/

header,
footer {
	padding: 5% 0;
	margin: 0;
	background-color: #111;
}

h1 {
	color: #ddd;
}


/** Search **************/

#search input,
#search button {
	font-size: 16px;
}

#search button {
	font-family: 'Raleway', sans-serif;
	margin-top: .5em;
}

::-webkit-input-placeholder {
  padding-left: .5em;
}

#no-match {
	margin-top: 30%;
}


/** Gallery **************/

#gallery {
	margin-top: 10%;
}

#gallery h2 {
	font-size: 1.2em;
	margin-top: .5em;
}

#gallery p {
	font-size: .8em;
	width: 60%;
	margin: .2em auto 1em auto;
}

#gallery li::after {
	font-family: FontAwesome;
   	content: "\f030";
}

#gallery li {
	margin-bottom: 2em;
}

#gallery a {
	pointer-events: none;
  	cursor: default;
}

#lightcase-overlay,
#lightcase-loading,
#lightcase-case,
#lightcase-nav {
	display: none;
}


@media all and (min-width: 640px) {


/** Header/Footer **************/
	
	header,
	footer {
		padding: 3% 0;
	}

/** Search **************/
	
	#no-match {
		margin-top: 15%;
	}

/** Gallery **************/

	#gallery {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	
	#gallery p {
		display: none;
	}

	#gallery li::after {
	   	content: "";
	}

	#gallery li {
		display: inline-block;
		margin: 0 1em 2em 1em;
	}

	#gallery a {
	pointer-events: initial;
  	cursor: initial;
	}

	#gallery {
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}


/** Lightbox Styles **************/

	.lightcase-icon-prev:before {
	  content: '\2039';
	}

	.lightcase-icon-next:before {
	  content: '\203A';
	}

	.lightcase-icon-close:before {
	  content: '\00D7';
	}

	#lightcase-info {
		max-width: 600px;
		width: 100%;
		margin: auto;
		position: static;
		color: #eee;
	}

	#lightcase-info #lightcase-title,
	#lightcase-info #lightcase-sequenceInfo {
		color: #eee;
	}

	#lightcase-overlay,
	#lightcase-loading,
	#lightcase-case,
	#lightcase-nav {
	display: initial;
	}

}